.week-view {
  margin-top: 5rem;

  &__heading-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 17rem;
  }
  &__todos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 30rem;
    margin: 5rem auto;

    background-color: rgba(#F0F0f0, .29);
  }
}