.expanded-project {
  background-color: #89AAE6;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5rem auto;
  width: 80%;
 
  
  display: grid;
  grid-template-rows: 2rem repeat(5, 1fr) 2rem;
  grid-template-columns: 4rem 1fr 1fr 5rem 1fr 1fr 4rem;

  &__project-overview {
    grid-column: 2 / 4;
    grid-row: 2 / 5;

  }
  &__project-chat {
    grid-column: 5 / 7;
    grid-row: 2 / 5;
    height: 55rem;
    background-color: white;
    margin-top: 5rem;

  }
  &__project-sprints {
    grid-column: 2 / 7;
    grid-row: 5 / 7;

    background-color: white;
  }
  &__project-exit {
    grid-column: 7;
    grid-row: 1;
    margin-top: 2.5rem;
    margin-right: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial;
    color: white;
    font-size: 2.8rem;

    cursor: pointer;
  }

}

.project-chat {
  height: 100%;
  width: 100%;
  background-color: $color-white;
 
  &__response-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__response-textarea {
    width: 90%;
    height: 7rem;
    padding: 1rem;
    border: 1px solid #BCE0FD;

    font-weight: 100;
    font-size: 1.4rem;
    font-family: Arial;
    color: #6987C9;
    resize: none;

    &::placeholder {
      font-weight: 100;
      font-size: 1.4rem;
      font-family: Arial;
      font-style: italic;
      color: #6987C9
    }
  }
  &__comments-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    height: 100%;
    width: 100%;

    max-height: 80%;
    overflow-y: scroll;
  }
  &__comment {
    display: inline-block;
    width: 85%;
    height: 20rem;

    background-color: transparent;
    border: 1px solid #C5D5EA;
  }
  &__user-details {
    margin: 1rem 2rem;
    width: 50%;
    height: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 1.5rem;
    &--user-name {
      font-family: Arial;
      font-size: 1.4rem;
      font-weight: 200;
      color: $color-primary-dark;
    }
    &--time-stamp {
      font-family: Arial;
      font-size: 1rem;
      font-weight: 100;
      color: $color-primary-dark;
    }
  }
  &--comment-text {
    margin: 1rem 1rem;

    span {
      line-height: 2rem;
      font-size: 1.2rem;
      font-weight: 100;
      font-family: Arial;
      color: #6987C9;
    }
  }
}