.project-view {
  background-color: rgba(#F0F0F0, .29);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 80%;
  margin: 5rem auto;

  &__selected-project {
    grid-column: 1 / 4;
    grid-row: 1 / -1;
    background-color: #7FC4FD;
    padding: 1rem 2rem;
    height: 82rem;
    width: 100%;

    display: grid;
    grid-template-rows: 4rem repeat(4, max-content) 2rem;
    grid-template-columns: 3rem repeat(3, 1fr) 3rem;

    &--title-text {
      grid-column: 2 / 5;
      grid-row: 2 / 2;

      font-family: Arial;
      font-weight: bold;
      font-size: 2.5rem;
      color: $color-white;
      margin-bottom: 5rem;
    }

    &--desc-container {
      grid-column: 2 / 5;
      grid-row: 3 / 3;
      
      display: flex;
      flex-direction: column;

      &--main-text {
        color: $color-white;
        margin-bottom: 3rem;

        font-size: 1.8rem;
        font-family: Arial;
        font-weight: 100;
        letter-spacing: .1rem;

      }
      &--secondary-text {
        font-size: 1.2rem;
        font-family: Arial;
        margin-left: 1rem;
        color: #A6F7A6;
      }
      &--priority-bar {
        height: 2rem;
        background-color: #F1F9FF;
        border-radius: 1rem;
        width: 40%;
        margin-bottom: 5rem;
      }
      
    }
    &--graph-container {
      grid-column: 2 / 5;
      grid-row: 4 / 4;
      height: 40rem;
      background-color: #F1F9FF;
      margin-bottom: 3rem;
    }
    &--task-container {
      grid-column: 2 / 5;
      grid-row: 5 / 5;

      font-family: Arial;
      font-size: 2.2rem;
      font-weight: bold;
      color: $color-white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      &--tasks {
        flex: .8;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &--icon {
          width: 3rem;
          height: 3rem;
          fill: $color-white;
          margin-right: 1rem;
        }
        span {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      &--expand-btn {
        border: none;
        background-color: transparent;
        font: inherit;
        color: $color-white;
      }
    }
  }
  
  &__preview-projects {
    background-color: rgba(#F0F0F0, .29);
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns:  repeat(3, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;


    &--card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 1rem 0;
      &:hover {
        background-color: $color-primary-dark;
        cursor: pointer;
      }
      &--normal {
        background-color: rgba($color-primary-dark, .2);
      }
      &--selected {
        background-color: $color-primary-dark;
      }
    }
  }
}
.red {
  fill: #FF7B7B
}