@keyframes expandCard {
  0% {
    width: 26rem;
    height: 26rem;
  }
  100% {
    width: 134.5rem;
    height: 33rem;

  }
}
@keyframes expandError {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes expandGrid {
  0% {
    grid-row: 2 / 4;
  }
  100% {
    grid-row: 2 / 5;

  }
}