//COLORS

$color-primary-light: #C5D5EA;
$color-primary-mid: #89AAE6;
$color-primary: #6BBAEC;
$color-primary-dark: #6987C9;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;