* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}

.seperator {
  width: 85%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;

  font-size: 1.6rem;
  color: lightgrey;

  &::before,
  &::after {
    content: '';
    height: 3px;
    display: block;
    background-color: #6987C9;
  }

  &__heading-container {
    background-color: #6987C9;
    border-radius: 1rem;

    width: 33rem;
    height: 7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

  }
  &__heading-cut-line {
    width: 100%;
    border-bottom: 3px solid #6987C9;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    transform: rotate(5deg) translateY(2.5rem) translateX(.3rem);
  }
  &__heading-text {
    color: white;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: .1rem;

    grid-row: 2 / 3;
    text-align: center;
  }
}